{% extends "base.html" %}
{%load static%}

{% block home %}

<body class="width-100 overflow-hidden xs-overflow-hidden">

    {% endblock home %}


    {% block header %}

    {% endblock header %}

    {% block body %}


    <div class="bg-black bg-gift position-absolute left-0 top-0 width-100 height-100">
        <!-- start header -->
        <header>
            <!-- Start navigation -->
            <nav
                class="navbar bg-transparent navbar-top navbar-transparent-no-sticky full-width-pull-menu white-link no-transition">
                <div
                    class="container-fluid nav-header-container height-100px padding-three-half-lr sm-height-70px sm-padding-15px-lr">
                    <!-- Start header navigation -->
                    <!-- start social links -->
                    <div class="col d-none d-md-block pl-0">
                        <div class="header-social-icon border-none no-padding-left no-margin-left">
                            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/" title="Twitter" target="_blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i
                                    class="fab fa-dribbble"></i></a>
                        </div>
                    </div>
                    <!-- end social links -->
                    <!-- start logo -->
                    <div class="col text-md-center pl-0 pl-md-3">
                        <a class="logo" href="{{home_url}}"><img src="{% static 'defi/images/logo-white.png' %}"
                                data-rjs="{% static 'defi/images/logo-white@2x.png'%}" alt="defi"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col text-right pr-0">
                        <button class="navbar-toggler mobile-toggle d-inline-block" type="button" id="open-button"
                            data-toggle="collapse" data-target=".navbar-collapse">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="menu-wrap full-screen no-padding d-md-flex">
                            <div class="col-md-6 p-0 d-none d-md-block">
                                <div class="cover-background full-screen">
                                    <div class="opacity-light bg-extra-dark-gray"></div>
                                    <div class="position-absolute height-100 width-100 text-center">
                                        <div class="display-table height-100 width-100">
                                            <div
                                                class="display-table-cell height-100 width-100 vertical-align-middle position-relative">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0 bg-white full-screen text-left">
                                <div class="position-absolute height-100 width-100 overflow-auto">
                                    <div class="display-table height-100 width-100">
                                        <div
                                            class="display-table-cell height-100 width-100 vertical-align-middle padding-fourteen-lr alt-font link-style-2 md-padding-seven-lr sm-padding-15px-lr">
                                            <!-- start menu -->
                                            <ul class="font-weight-600 sm-no-padding-left">

                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Hesabım</a><span
                                                        data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        {% if request.user.is_authenticated %}
                                                        <li><a href="/accounts/profile/"> Profil </a></li>
                                                        <li><a href="/accounts/logout/"> Çıkış </a></li>
                                                        {% else %}

                                                        <li><a href="/accounts/login/"> Giriş </a></li>

                                                        <li><a href="/accounts/signup/"> Kayıt </a></li>


                                                        {% endif %}
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->

                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Defisözlük</a><span
                                                        data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="{{dic_create_url}}">Görüş Belirt</a></li>
                                                        <li><a href="{{dic_url}}">En çok Okunanlar</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Defibilgi</a><span
                                                        data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">

                                                        {% if 'bilgi' in perms %}
                                                        {% if 'bilgi.add_i̇nformationmodel' in perms %}
                                                        <li><a href="{{inf_create_url}}">Yeni Gönderi</a></li>
                                                        {% endif %}
                                                        {% endif %}
                                                        <li><a href="{{inf_url}} ">En çok Okunanlar</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Defihaber</a><span
                                                        data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        {% if 'news' in perms %}
                                                        {% if 'news.add_newsmodel' in perms %}
                                                        <li><a href="{{new_create_url}}">Haber Ekle</a></li>
                                                        {% endif %}
                                                        {% endif %}
                                                        <li><a href="{{news_url}}">En çok Okunanlar</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                            <!-- end menu -->
                                            <!-- start social links -->
                                            <div class="margin-fifteen-top padding-35px-left sm-no-padding-left">
                                                <div class="icon-social-medium margin-three-bottom">
                                                    <a href="https://www.facebook.com/" target="_blank"
                                                        class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i
                                                            class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                    <a href="https://twitter.com/" target="_blank"
                                                        class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i
                                                            class="fab fa-twitter" aria-hidden="true"></i></a>
                                                    <a href="https://dribbble.com/" target="_blank"
                                                        class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i
                                                            class="fab fa-dribbble" aria-hidden="true"></i></a>
                                                    <a href="https://plus.google.com" target="_blank"
                                                        class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i
                                                            class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                                                    <a href="https://www.tumblr.com/" target="_blank"
                                                        class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i
                                                            class="fab fa-tumblr" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <!-- start social links -->
                                        </div>
                                    </div>
                                </div>
                                <button class="close-button-menu" id="close-button"></button>
                            </div>
                        </div>
                    </div>
                    <!-- start menu -->
                </div>
                <!-- end header navigation -->
            </nav>
            <!-- end navigation -->
        </header>
        <!-- end header -->
        <!-- start fancy text box style 03 section -->
        <section style="height: 100vh" class=" wow fadeIn">
            <div style="padding-top: 17vh;" class="container ">
                <div class="row">

                    <!-- feature box item-->
                    <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp"
                        data-wow-delay="0.2s">
                        <a href="{{dict_url}}">
                            <div class="feature-box">
                                <div class="content">
                                    <i
                                        class="icon-book-open text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                    <div
                                        class="text-medium alt-font text-capitalize  margin-10px-bottom md-margin-5px-bottom">
                                        Defi sözlük</div>
                                    <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting industry.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end feature box item-->
                    <!-- feature box item-->
                    <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp">

                        <a href="{{news_url}}">
                            <div class="feature-box">
                                <div class="content">
                                    <i
                                        class="icon-browser text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                    <div
                                        class="text-medium alt-font text-capitalize  margin-10px-bottom md-margin-5px-bottom">
                                        Defi haber</div>
                                    <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting industry.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end feature box item-->

                    <!-- feature box item-->
                    <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp"
                        data-wow-delay="0.4s">
                        <a href="{{inf_url}}">
                            <div class="feature-box">
                                <div class="content">
                                    <i
                                        class="icon-wallet text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                    <div
                                        class="text-medium alt-font text-capitalize  margin-10px-bottom md-margin-5px-bottom">
                                        Defi bilgi</div>
                                    <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting industry.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- end feature box item-->
                </div>
            </div>
        </section>
        <!-- end fancy text box style 03 section -->

        {% comment %}
        <!-- start slider section -->
        <section class="p-0">
            <div class="swiper-bottom-scrollbar-full swiper-container">
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div>
                        <div>
                            <div>
                                <img src="images/signature.png" class="width-60 signature" alt="" />
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide width-auto sm-height-auto last-paragraph-no-margin">
                        <div class="height-100 d-flex align-items-center">
                            <div class="d-block position-relative">
                                <img src="http://placehold.it/1300x1000" alt="" />
                                <p
                                    class="bottom-text width-100 text-extra-small text-white-2 text-uppercase text-center">
                                    Branding and Identity</p>
                            </div>
                            <div class="hover-title-box padding-55px-lr width-300px md-width-100 md-padding-20px-lr">
                                <div class="separator width-50px bg-black d-none d-xl-inline-block sm-margin-lr-auto">
                                </div>
                                <h3><a class="text-white-2 font-weight-600 alt-font text-white-2-hover"
                                        href="{{dic_url}}">Defi Sözlük</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide width-auto sm-height-auto last-paragraph-no-margin">
                        <div class="height-100 d-flex align-items-center">
                            <div class="d-block position-relative">
                                <img src="http://placehold.it/800x1000" alt="" />
                                <p
                                    class="bottom-text width-100 text-extra-small text-white-2 text-uppercase text-center">
                                    Branding and Brochure</p>
                            </div>
                            <div class="hover-title-box padding-55px-lr width-300px md-width-100 md-padding-20px-lr">
                                <div class="separator width-50px bg-black d-none d-xl-inline-block sm-margin-lr-auto">
                                </div>
                                <h3><a class="text-white-2 font-weight-600 alt-font text-white-2-hover"
                                        href="{{inf_url}}">Defi Bilgi</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide width-auto sm-height-auto last-paragraph-no-margin">
                        <div class="height-100 d-flex align-items-center">
                            <div class="d-block position-relative">
                                <img src="http://placehold.it/1300x1000" alt="" />
                                <p
                                    class="bottom-text width-100 text-extra-small text-white-2 text-uppercase text-center">
                                    Web and Photography</p>
                            </div>
                            <div class="hover-title-box padding-55px-lr width-300px md-width-100 md-padding-20px-lr">
                                <div class="separator width-50px bg-black d-none d-xl-inline-block sm-margin-lr-auto">
                                </div>
                                <h3><a class="text-white-2 font-weight-600 alt-font text-white-2-hover"
                                        href="single-project-page-03.html">Defi Haber</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start slider swiper pagination -->
                <div class="swiper-scrollbar d-none d-md-inline-block"></div>
                <div class="swiper-pagination-vertical position-fixed bullet-deep-pink z-index-5"></div>
                <!-- end slider swiper pagination -->
            </div>
        </section>
        <!-- end slider section --> {% endcomment %}



    </div>

    {% endblock body %}


    {% block footer %}

    {% endblock footer %}